<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeamView</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
    <div class="video-container">
        {% for video in videos %>
        <div class="video-wrapper">
            <video loop muted playsinline preload="auto">
                <source src="{{ video.src }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="video-label">
                <a href="{{ video.link }}" target="_blank">{{ video.label }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>